doctype html5
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    link(rel="apple-touch-icon", sizes="57x57", href="/fav/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/fav/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/fav/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/fav/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/fav/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/fav/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/fav/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/fav/apple-touch-icon-152x152.png")
    link(rel="icon", type="image/png", href="/fav/favicon-196x196.png", sizes="196x196")
    link(rel="icon", type="image/png", href="/fav/favicon-160x160.png", sizes="160x160")
    link(rel="icon", type="image/png", href="/fav/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/fav/favicon-16x16.png", sizes="16x16")
    link(rel="icon", type="image/png", href="/fav/favicon-32x32.png", sizes="32x32")
    meta(name="msapplication-TileColor", content="#2d89ef")
    meta(name="msapplication-TileImage", content="/fav/mstile-144x144.png")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Unherd - Priority Inbox + Spam Filter for Twitter
    link(rel='stylesheet', href='/foundation/stylesheets/style.css')
    link(rel='stylesheet', href='/foundation/stylesheets/pace.css')
    link(rel='stylesheet', href='/foundation/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/foundation/stylesheets/dev.css')
    link(rel='stylesheet', href='/foundation/js/newtheme/typehead.css')
    link(rel='stylesheet', href='://fonts.googleapis.com/css?family=Open+Sans:400,600,300')
    script(src='/foundation/bower_components/modernizr/modernizr.js')
    script(src="/foundation/js/newtheme/pace.min.js")
    script(src='/foundation/js/newtheme/analytics.js')
  body
 
    div#topPosition.off-canvas-wrap.fixHeight
      .inner-wrap
        nav.tab-bar.fixed
          section.left-small.no-Br
            b.notify(style="display:none;") 
            a.left-off-canvas-toggle.menu-icon
              span
          .row
            ul.title-area.left
              li.name.hide-for-small.hide-for-medium
                h1
                  a(href='#')
                    img(src="/fav/unherd-icon.png",width="40",alt="")
          .tweetComposer.right
            a#joy7.button(href='#', data-dropdown='composer', data-options='align:left')
              i.fa.fa-pencil-square-o.fa-2x
            #composer.f-dropdown.content(data-dropdown-content='data-dropdown-content')
              form
                .row
                  label
                    textarea.radius.LimitedTextField(placeholder='Compose tweet', rows='5', id="TweetText",data-target="charCountId")
                  input#TwBtn.button.tiny.radius.no-Mn(type='button', value='Tweet')
                  span(style='position: relative; left:10px;')
                    i.fa.fa-picture-o
                    small  Add image
                    input(type='file', style='position: absolute; top: 0; left: 0; opacity: 0;')                  
                  span.no-Mn.right(id='charCountId') 140
        aside.left-off-canvas-menu
          ul.off-canvas-list
            .large-24.columns.topHeader
              ul.large-block-grid-2.left
                li.name.hide-for-large.hide-for-medium.hide-for-small.left
                  h3.no-Mn
                    a(href='#')
                      img(src="/fav/unherd-icon.png",width="40",alt="unherd")
              ul.large-block-grid-2.left
                li.no-Pg-Bm
                  a.no-Bd(href='#', data-dropdown='message', data-options='is_hover:true')
                    i.fa.fa-envelope-o
                li.no-Pg-Bm
                  a.no-Bd(href='/logout')
                    i.fa.fa-sign-out
            .large-24.columns.no-Pg.profile
              .large-7.columns.no-Pg-Rt
                span.th.radius
                  img.radius(src='#{user.profile_pic}', alt='#{user.displayName}')
              .large-17.columns
                h4 #{user.displayName}
                h5 @#{user.username}
            .large-24.columns.text-center.no-Pg.twttrStatus
              .large-8.small-8.columns.no-Pg
                .large-24.columns.sectionHeader Tweets
                .large-24.columns.no-Pg
                  p#my_status_count #{user.statuses_count}
              .large-8.small-8.columns.no-Pg
                .large-24.columns.sectionHeader Following
                .large-24.columns.no-Pg
                  p#my_friends_count #{user.friends_count}
              .large-8.small-8.columns.no-Pg
                .large-24.columns.sectionHeader Followers
                .large-24.columns.no-Pg
                  p#my_followers_count #{user.followers_count}                            
        section.main-section
          .row
            .large-24.columns
              .tabs-content
                #panel2-1.content.active
                  .large-24.columns
                    ul#mainSection.alltweets.large-block-grid-3.small-block-grid-1.medium-block-grid-2
                    ul#mainSection2.alltweets.large-block-grid-3.small-block-grid-1.medium-block-grid-2
                #panel2-2.content
                  .large-24.columns
                #panel2-3.content
                  p Personal tweets
        a.exit-off-canvas
    //Tweet reply box 
    .tweetReply
      #reply.f-dropdown.content(data-dropdown-content='data-dropdown-content')
        form#normalBox
          .row
            input(type="hidden",value="",id="ReplyTo")
            label
              textarea.radius.LimitedTextField(placeholder='@username', rows='5',id="TweetText2",data-target="charCountId2")
            input.button.tiny.radius.no-Mn(type='button', value='Reply', id='REPLYBtn')
            span(style='position: relative;')              
            span.no-Mn.right(id='charCountId2') 140
        form#recommendBox
          .row
            input(type="hidden",value="",id="ForwTweet")
            label
              input(placeholder="@username",class="radius typeahead",style="width: 100%;margin-bottom: 10px;",id="ForwardTo")
            label
              textarea.radius.LimitedTextField(placeholder='Your message', rows='5',id="RecText",data-target="charCountId3")
            input.button.tiny.radius.no-Mn(type='button', value='Forward', id='RcBtn')
            span(style='position: relative;')              
            span.no-Mn.right(id='charCountId3') 140
    //Message Box 
    ul#message.f-dropdown(data-dropdown-content='data-dropdown-content')      
    //Message modal 
    #msgModal.reveal-modal.small(data-reveal='data-reveal')
      ul.breadcrumbs.no-Br-Rs
        li.current
          a(id="logo_joy", href="#") Messages
      a.close-reveal-modal ×
      article#recDetail.tweetBox.clearfix.no-Br
      article#recList.tweetBox.clearfix.no-Br(style="display:none;")
    div.scrollTop
      a(href="#topPosition",id="scrollUp",class="button tiny radius secondary no-Mn",title="Scroll up")
        i(class="fa fa-arrow-circle-o-up")
    ol(class="joyride-list",id="my-tour",data-joyride)
      li(data-id="panel2-1",data-text="Next",data-options="tip_location: top")
        h6 TIP#1: Relevant at Top
        p  Unherd sorts your most recent tweets according to relevance.
      li(data-id="JoyrideRankbox",data-text="Next",data-options="tip_location: top")
        h6 TIP#2: The Relevance Score
        p  You can move your mouse over these bars to see the Relevance Score of each tweet.
      li(data-id="joy7",data-text="Next",data-options="tip_location: left")
        h6 TIP#3: Composing a New Tweet
        p  You can compose a new tweet by clicking here.
      li(data-id="JoyrideTweetAction",data-text="Next",data-options="tip_location: bottom")
        h6 TIP#4: Tweet Actions
        p  You can move your mouse over a tweet to find the buttons to Retweet, Favorite & Reply to a tweet.
      li(data-id="JoyrideTweetAction",data-text="Next",data-options="tip_location: right")
        h6 TIP#5: Private Conversations
        p  You can forward a tweet to your followers in a private conversation as well.
      li(data-id="logo_joy",data-text="Next",data-options="tip_location: right")
        h6 TIP#6: Refresh for More
        p  When done reading all tweets, simply refresh to get any new ones.
      li(data-id="panel2-2",data-text="Finish")
        h6 We love our users
        p  We are just a tweet (@unherd_), or email away hello@unherd.co.
        p  Let us know how we can make your experience even better.
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='/foundation/bower_components/foundation/js/foundation.min.js')
    script(src='/foundation/bower_components/jquery.cookie/jquery.cookie.js')
    script(src='/foundation/js/jquery.masonry.js')
    script(src='/foundation/js/app.js')
    script(src="/foundation/js/newtheme/twitter-entities.js")
    script(src="/foundation/js/newtheme/bootstrap-typeahead.min.js")
    script(src="/foundation/js/newtheme/unherd.js")
