extends layout

block content
	p #{recomend.custom_msg} - #{recomend.from_id}
	p #{recomend.tweet.text} - #{recomend.tweet.user.name}
	hr
	hr
	ul
	- each ms in msg
		p #{ms.message} - #{ms.from_id}
		hr
	form(action="",method="post")
		textarea(name="message")
		- var to = recomend.to_id;
		- if(user.username != recomend.from_id) {
		- to = recomend.from_id;
		- }
		input(type="hidden",name="topic_id",value="#{recomend.topic_id}")
		input(type="hidden",name="msg_to",value="#{to}")
		input(type="submit",value="reply")
